<html>
<head>
    <title>Item Details</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div>
    <h1 class="text-4xl text-center">URL Shortener</h1>
    </div>
    <div class="h-20"></div>
    <div class="grid grid-cols-3 p-3">
        <div class=""></div>
        <div class="text-center text-2xl">
            <form method="post">
                <input class="border-2 border-black rounded-md text-center" type="text" id="url" name="url">
                </br>
                <button type="submit">Short</button>
            </form>
            {% if short_url==None %}
                <h1>Insert URL!</h1>
            {% else %}
                {{ ifshortened }}
            {% endif %}
        </div>
        <div class=""></div>
    </div>
</body>
</html>